.centered{
    text-align: center;
}

h1{
    color: #0d6efd;
}

.margine{
    text-align: left;
    margin-left: 50px;
}

body{
    background-color: #CCE5FF;
    font-family: 'Poppins', sans-serif;
}